{% extends "base.html" %}
{% block title %}Close Account{% endblock %}
{% block content %}
<div class="pagetitle">Close Account</div>
<div class="pagesub">Member {{ member.member_id }} &nbsp;&middot;&nbsp; {{ member.last_name }}, {{ member.first_name }}</div>
<div class="alert alert-error"><b>Warning:</b> Closing an account is permanent. Any remaining balance will be transferred to the primary share account per policy 4.7.</div>
<table class="kv" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr><td class="k">Account</td><td>{{ account.account_no }}</td></tr>
  <tr><td class="k">Type</td><td>{{ account.type }}</td></tr>
  <tr><td class="k">Nickname</td><td>{{ account.nickname }}</td></tr>
  <tr><td class="k">Balance</td><td>{{ account.balance | money }}</td></tr>
</table>
<form method="post" action="/members/{{ member.member_id }}/accounts/{{ account.account_no }}/close" class="actions" style="margin-top:20px">
  <input type="submit" value="Confirm Close" class="danger">
  <a href="/members/{{ member.member_id }}">Cancel</a>
</form>
{% endblock %}
