{% extends "base.html" %}
{% block title %}Member {{ member.member_id }}{% endblock %}
{% block content %}
<div class="pagetitle">Member Profile</div>
<div class="pagesub">Member {{ member.member_id }} &nbsp;&middot;&nbsp; {{ member.last_name }}, {{ member.first_name }}</div>
<table class="kv" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr><td class="k">Member Number</td><td>{{ member.member_id }}</td></tr>
  <tr><td class="k">Name</td><td>{{ member.last_name }}, {{ member.first_name }}</td></tr>
  <tr><td class="k">Status</td><td><span class="pill pill-{{ member.status | lower }}">{{ member.status }}</span></td></tr>
  <tr><td class="k">Member Since</td><td>{{ member.member_since }}</td></tr>
  <tr><td class="k">Address</td><td>{{ member.address }}</td></tr>
  <tr><td class="k">Phone</td><td>{{ member.phone }}</td></tr>
  <tr><td class="k">E-mail</td><td>{{ member.email }}</td></tr>
  <tr><td class="k">Tax ID (last 4)</td><td>***-**-{{ member.tax_id_last4 }}</td></tr>
</table>
<div class="section">Accounts</div>
<iframe name="acctframe" src="/members/{{ member.member_id }}/accounts" class="acct" frameborder="0" scrolling="auto"></iframe>
<div class="linkrow">
  <a href="/members/{{ member.member_id }}/subaccount/new">Open Sub-Account</a>
  <a href="/members/search">New Search</a>
</div>
{% endblock %}
