{% extends "base.html" %}
{% block title %}Open Sub-Account{% endblock %}
{% block content %}
<div class="pagetitle">Open Sub-Account</div>
<div class="pagesub">Member <b>{{ member.member_id }}</b> &nbsp;&middot;&nbsp; {{ member.last_name }}, {{ member.first_name }}</div>
{% if errors %}
<div class="alert alert-error"><b>Please correct the following:</b>
  <ul>{% for e in errors %}<li>{{ e }}</li>{% endfor %}</ul>
</div>
{% endif %}
<form method="post" action="/members/{{ member.member_id }}/subaccount/new">
<table cellpadding="0" cellspacing="0" border="0" class="formtbl">
  <tr>
    <td class="lbl">Product Type</td>
    <td><select name="product">
      {% for code, label in products.items() %}
      <option value="{{ code }}" {% if form.product == code %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td class="lbl">Nickname</td>
    <td><input type="text" name="nickname" maxlength="30" value="{{ form.nickname }}" autocomplete="off"></td>
  </tr>
  <tr>
    <td class="lbl">Initial Deposit ($)</td>
    <td><input type="text" name="deposit" class="short" value="{{ form.deposit }}" autocomplete="off"> <span class="muted">minimum $25.00</span></td>
  </tr>
  <tr>
    <td></td>
    <td class="actions"><input type="submit" value="Continue"> <a href="/members/{{ member.member_id }}">Cancel</a></td>
  </tr>
</table>
</form>
{% endblock %}
