{% extends "base.html" %}
{% block title %}Sub-Account Opened{% endblock %}
{% block content %}
<div class="pagetitle">Sub-Account Opened</div>
<div class="pagesub">Member {{ member.member_id }} &nbsp;&middot;&nbsp; {{ member.last_name }}, {{ member.first_name }}</div>
<div class="alert alert-success"><b>The sub-account was opened successfully.</b> Confirmation number <b>{{ result.confirmation_no }}</b>.</div>
<table class="kv" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr><td class="k">Confirmation Number</td><td><b>{{ result.confirmation_no }}</b></td></tr>
  <tr><td class="k">Member Number</td><td>{{ member.member_id }}</td></tr>
  <tr><td class="k">New Account No.</td><td>{{ result.account.account_no }}</td></tr>
  <tr><td class="k">Nickname</td><td>{{ result.account.nickname }}</td></tr>
  <tr><td class="k">Opening Balance</td><td>{{ result.account.balance | money }}</td></tr>
</table>
<div class="linkrow">
  <a href="/members/{{ member.member_id }}">Return to Member Profile</a>
  <a href="/members/search">New Search</a>
</div>
{% endblock %}
